body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
    background: rgb(25, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(25, 0, 36, 0.9444152661064426) 4%,
    rgba(145, 41, 255, 1) 32%,
    rgba(166, 44, 255, 1) 62%,
    rgba(59, 0, 255, 1) 100%
  );
}

button {
  cursor: pointer;
}
